<ul>
    <li>
        <a href="/movies/movies">Back</a>
    </li>
</ul>
<h2>{{foundMovie.title}}</h2>
<p><b>Genre:</b> {{foundMovie.genre}}</p>
<p><b>Plot:</b> {{foundMovie.plot}}</p>
<p><b><u>Cast:</u></b> 
    {{#each foundMovie.cast}}
        <br>
        <b>{{name}}</b>,
        {{occupation}}
        <br>
        <u>Catch phrase</u>: {{catchPhrase}}
        <br>
        {{!-- <p>Catch phrase: {{catchPhrase}}</p> --}}
    {{/each}}
</p>

<a href="/movies/{{foundMovie._id}}/edit">Edit movie details</a>
<br>
<br>
<form action="/movies/{{foundMovie._id}}/delete" method="POST">
    <button type="submit">Remove movie</button>
</form>